.cart-to-print {
  font-family: Arial, sans-serif;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #4d16e2;
}

.print-details {
  border-top: 1px solid #000;
  padding-top: 10px;
  margin-top: 20px;
 
}

.print-details h4 {
  margin: 5px 0;
     color: #4d16e2;
}

.print-details p {
  margin: 2px 0;
     color: #4d16e2;
}

.cart-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  border-bottom: 1px dashed #ddd;
  padding: 10px 0;
}

.cart-item p {
  margin: 5px 0;
}

.total-section {
  margin-top: 20px;
  text-align: right;
}

.total-section h3,
.total-section p {
  margin: 5px 0;
}
