
.header_text{
  text-align: center;
  font: bold;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}

.medicine-list-container {
  width: 50%;
  padding: 20px;
  margin-top: 30px;
}

